<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="com.ge.research.osate.verdict.target" sequenceNumber="1">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <unit id="de.itemis.xtext.antlr.sdk.feature.group" version="0.0.0"/>
            <repository location="http://download.itemis.com/updates/releases/2.1.1"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <unit id="org.eclipse.ease.feature.feature.group" version="0.0.0"/>
            <repository location="http://download.eclipse.org/ease/update/release"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <unit id="org.eclipse.elk.feature.feature.group" version="0.0.0"/>
            <repository location="http://download.eclipse.org/elk/updates/releases/0.5.0"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <unit id="javax.xml.bind" version="0.0.0"/>
            <repository location="http://download.eclipse.org/releases/2019-09/201909181001"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
            <repository location="http://download.eclipse.org/releases/2019-09"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
            <repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.19.0"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <unit id="org.osate.plugins.feature.feature.group" version="0.0.0"/>
            <repository location="https://osate-build.sei.cmu.edu/download/osate/stable/2.6.1/updates"/>
        </location>
    </locations>
</target>
