# Ignore everything in current directory except the files which we
# need to copy to the image:
*
!aadl2iml/bin/aadl2iml
!soteria_pp/bin/soteria_pp
!verdict-bundle-parent/verdict-bundle/target/verdict-bundle-*-capsule.jar
