uri "http://sadl.org/STEM/Scenario" alias scn
import "http://sadl.org/STEM/BaseModel".

//log "c:/tmp/scnarch.log"

validate <Scenario> not blank skip
validate <ConnectionName> not blank skip
validate <SrcCompType> not blank skip
validate <SrcCompInstance> not blank skip
validate <SrcPortName> not blank skip
validate <DestCompType> not blank skip
validate <DestCompInstance> not blank skip
validate <DestPortName> not blank skip
validate <Flow1> not blank skip
validate <Flow2> not blank skip
validate <Flow3> not blank skip
validate <TrustedConnection> not blank skip
validate <encryptedTransmission> not blank skip

transform <TrustedConnection> to <trusted> replace "1" : true,"0" : false
transform <encryptedTransmission> to <def1A[]> split "#"
transform <def1A[1]> to <def1> replace "1" : true,"0" : false

<SrcCompType> rdfs:subClassOf Subsystem
<SrcCompInstance> rdf:type <SrcCompType>
<DestCompType> rdfs:subClassOf Subsystem
<DestCompInstance> rdf:type <DestCompType>
<1> rdf:type Connection
<1> connectionName <ConnectionName>
<1> connectionSource <SrcCompInstance>
<1> connectionDestination <DestCompInstance>
<1> outPort <SrcPortName>
<1> inPort <DestPortName>
<1> connectionFlow <Flow1>
<1> connectionFlow <Flow2>
<1> connectionFlow <Flow3>
<1> trustedConnection <trusted>
<1> XencryptedTransmission <def1>

<2> rdf:type ImplProperty
<2> name "encryptedTransmission"
<2> val <def1>
<2> dal <def1A[2]>
<ConnectionName> encryptedTransmission <2>

