uri "http://sadl.org/STEM/Scenario" alias scn
import "http://sadl.org/STEM/BaseModel".


//log "c:/tmp/scnarch.log"

validate <Scenario> not blank skip
validate <ConnectionName> not blank skip
validate <SrcComp> not blank skip
validate <SrcImpl> not blank skip
validate <SrcCompInstance> not blank skip
validate <SrcCompCategory> not blank skip
validate <SrcPortName> not blank skip
validate <SrcPortType> not blank skip
validate <DestComp> not blank skip
validate <DestImpl> not blank skip
validate <DestCompInstance> not blank skip
validate <DestCompCategory> not blank skip
validate <DestPortName> not blank skip
validate <DestPortType> not blank skip

transform <SrcImpl> to <TEMPSrcImpl> replace .Impl$ : 
transform <TEMPSrcImpl> to <TEMP2SrcImpl> replace .impl$ : 
transform <DestImpl> to <TEMPDestImpl> replace .Impl$ :
transform <TEMPDestImpl> to <TEMP2DestImpl> replace .impl$ :
// the above have error markings; but that is a XText issue; so ignore error markings

<SrcComp> rdfs:subClassOf Subsystem
<SrcCompInstance> rdf:type <SrcComp>
<TEMP2SrcImpl> rdf:type <SrcComp>  
<DestComp> rdfs:subClassOf Subsystem
<DestCompInstance> rdf:type <DestComp>
<TEMP2DestImpl> rdf:type <DestComp>

// Sometimes SrcCompInstance is empty but in that case SrcImpl is present.
// So in rules, I then set srcCompInst to be TEMP2SrcImpl where TEMP2SrcImpl is SrcImpl after stripping off .Impl / .impl
// Similarly for destCompInstance.

// I also need to make connection name unique; doing that by concatenating row number of input csv file 
// ignoring SrcPortType and DestPortType as these were for SOTERIA++
// ignoring SrcCompCategory and DestCompCategory as they are currently only 'system', eventually we will have 'bus' etc
// note that I do not have 'system' in my model

<ConnectionName>row() rdf:type Connection
<ConnectionName>row() connectionName <ConnectionName>
<ConnectionName>row() srcCompType <SrcComp>
<ConnectionName>row() srcCompImpl <TEMP2SrcImpl> 
<ConnectionName>row() connectionSource <SrcCompInstance>
<ConnectionName>row() outPort <SrcPortName>
<ConnectionName>row() destCompType <DestComp>
<ConnectionName>row() destCompImpl <TEMP2DestImpl> 
<ConnectionName>row() connectionDestination <DestCompInstance>
<ConnectionName>row() inPort <DestPortName>




