uri "http://sadl.org/STEM/Scenario" alias scn
import "http://sadl.org/STEM/BaseModel".


//log "c:/tmp/scnarch.log"

validate <Scenario> not blank skip
validate <ConnectionName> not blank skip
validate <SrcComp> not blank skip
validate <SrcImpl> not blank skip
validate <SrcCompInstance> not blank skip
validate <SrcCompCategory> not blank skip
validate <SrcPortName> not blank skip
validate <SrcPortType> not blank skip
validate <DestComp> not blank skip
validate <DestImpl> not blank skip
validate <DestCompInstance> not blank skip
validate <DestCompCategory> not blank skip
validate <DestPortName> not blank skip
validate <DestPortType> not blank skip

transform <SrcImpl> to <TEMPSrcImpl> replace .Impl$ : 
// the above has a error marking; but that is a XText issue; so ignore it
//transform <SrcImpl> to <def1[]> split "."
//transform <hasSensitiveInfo> to <val1> replace "1" : true,"0" : false

<SrcComp> rdfs:subClassOf Subsystem
<SrcCompInstance> rdf:type <SrcComp>
<TEMPSrcImpl> rdf:type <SrcComp>  
//<def1[1]> rdf:type <SrcComp>
<DestComp> rdfs:subClassOf Subsystem
<DestCompInstance> rdf:type <DestComp>
<DestImpl> rdf:type <DestComp>

////// the following create new objects
////<Scenario><SrcImpl> rdf:type <SrcComp>
////<Scenario><DestImpl> rdf:type <DestComp>

// sometimes SrcCompInstance is empty but in that case SrcImpl is present
// need to make connection name unique; for the moment just concatenating SrcComp 
// (had trouble with <ConnectionName>_<SrcCompInstance>_<DestCompInstance>)
// which in general is not enough
// ignoring SrcPortType and DestPortType
// concatenating with SrcComp as that is present in 1st and 3rd csv file
<ConnectionName>_<SrcComp> rdf:type Connection
<ConnectionName>_<SrcComp> connectionName <ConnectionName>
<ConnectionName>_<SrcComp> srcCompType <SrcComp>
<ConnectionName>_<SrcComp> srcCompType <SrcComp>
<ConnectionName>_<SrcComp> srcCompImpl <TEMPSrcImpl> 

//<ConnectionName>_<SrcComp> srcCompCategory <SrcCompCategory>
<ConnectionName>_<SrcComp> connectionSource <SrcCompInstance>
<ConnectionName>_<SrcComp> outPort <SrcPortName>
//<ConnectionName>_<SrcComp> srcPortType <SrcPortType>
<ConnectionName>_<SrcComp> destCompType <DestComp>
<ConnectionName>_<SrcComp> destCompImpl <DestImpl> 
//<ConnectionName>_<SrcComp> destCompCategory <DestCompCategory>
<ConnectionName>_<SrcComp> connectionDestination <DestCompInstance>
<ConnectionName>_<SrcComp> inPort <DestPortName>
//<ConnectionName>_<SrcComp> destPortType <DestPortType>

////<ConnectionName>_<SrcComp> connectionSource <Scenario><SrcImpl>
////<ConnectionName>_<SrcComp> connectionDestination <Scenario><DestImpl>





