//
//
// Copyright © 2020 General Electric Company
//
// Author: Abha Moitra
// Date: 2020-03-24
//
//

uri "http://sadl.org/STEM/Scenario" alias scn

import "http://sadl.org/STEM/BaseModel".

//log "c:/tmp/scnconnections.log"

// all the columns in the csv file with column name below them
// Scenario	QualifiedName	SanitizedQualifiedName	PackageName	Comp	Impl	SrcCompInstQualifiedName	SanitizedSrcCompInstQualifiedName	SrcCompInstPackage	ActualConnectionBindingSrcComp	ActualConnectionBindingSrcImpl	ActualConnectionBindingSrcCompInst	ActualConnectionBindingSrcBusInst	DestCompInstQualifiedName	SanitizedDestCompInstQualifiedName	DestCompInstPackage	ActualConnectionBindingDestConnComp	ActualConnectionBindingDestConnImpl	ActualConnectionBindingDestConnCompInst	ActualConnectionBindingDestConn
// A		B				C						D			E		F		G							H									I					J								K								L									M									N							O									P					Q									R									S										T													

// following columns (and column headers) can be empty; for these we do not use "valid <> not blank skip"
// I SrcCompInstPackage
// N DestCompInstQualifiedName		
// O SanitizedDestCompInstQualifiedName
// P DestCompInstPackage

// only putting in "validate" for a column headers I am using
//validate <Scenario> not blank skip
//validate <QualifiedName> not blank skip
//validate <SanitizedQualifiedName> not blank skip
//validate <PackageName> not blank skip
//validate <Comp> not blank skip
//validate <Impl> not blank skip
//validate <ActualConnectionBindingSrcComp> not blank skip
//validate <ActualConnectionBindingSrcImpl> not blank skip
//validate <ActualConnectionBindingDestConnComp> not blank skip
//validate <ActualConnectionBindingDestConnImpl> not blank skip
//validate <ActualConnectionBindingDestConn> not blank skip
validate <ActualConnectionBindingSrcBusInst> not blank skip
validate <ActualConnectionBindingDestConn> not blank skip


<ActualConnectionBindingSrcBusInst> rdf:type Bus
<ActualConnectionBindingDestConn> binding <ActualConnectionBindingSrcBusInst>

