//
//
// Copyright © 2020 General Electric Company
//
// Author: Abha Moitra
// Date: 2020-03-24
//
//

uri "http://sadl.org/STEM/Scenario3" alias scn3

import "http://sadl.org/STEM/BaseModel".
import "http://sadl.org/STEM/Scenario".
import "http://sadl.org/STEM/Scenario2".

//log "c:/tmp/scnconnections.log"

// the following comments need to be updated as the translator added 2 more columns (noted on 12/20/2020))
// the 2 columns added are 
//		SanitizedActualConnectionBindingSrcBusInstName SanitizedActualConnectionBindingDestConnName

// all the columns in the csv file with column name below them
// Scenario	QualifiedName	SanitizedQualifiedName	PackageName	Comp	Impl	SrcCompInstQualifiedName	SanitizedSrcCompInstQualifiedName	SrcCompInstPackage	ActualConnectionBindingSrcComp	ActualConnectionBindingSrcImpl	ActualConnectionBindingSrcCompInst	ActualConnectionBindingSrcBusInst	DestCompInstQualifiedName	SanitizedDestCompInstQualifiedName	DestCompInstPackage	ActualConnectionBindingDestConnComp	ActualConnectionBindingDestConnImpl	ActualConnectionBindingDestConnCompInst	ActualConnectionBindingDestConn
// A		B				C						D			E		F		G							H									I					J								K								L									M									N							O									P					Q									R									S										T													

// following columns (and column headers) can be empty; for these we do not use "valid <> not blank skip"
// I SrcCompInstPackage
// N DestCompInstQualifiedName		
// O SanitizedDestCompInstQualifiedName
// P DestCompInstPackage

validate <Scenario> not blank skip
validate <QualifiedName> not blank skip
validate <SanitizedQualifiedName> not blank skip
validate <PackageName> not blank skip
validate <Comp> not blank skip
validate <Impl> not blank skip
validate <ActualConnectionBindingSrcComp> not blank skip
validate <ActualConnectionBindingSrcImpl> not blank skip
validate <ActualConnectionBindingDestConnComp> not blank skip
validate <ActualConnectionBindingDestConnImpl> not blank skip
validate <ActualConnectionBindingDestConn> not blank skip
validate <SanitizedActualConnectionBindingSrcBusInstName> not blank skip
validate <SanitizedActualConnectionBindingDestConnName> not blank skip

<SanitizedActualConnectionBindingSrcBusInstName> rdf:type Bus
<SanitizedActualConnectionBindingDestConnName> binding <SanitizedActualConnectionBindingSrcBusInstName>

