uri "http://sadl.org/STEM/Scenario" alias scn
import "http://sadl.org/STEM/BaseModel".

//log "c:/tmp/scncompprops.log"

//need to put 1 and 0 in quotes - just to make it work with an updated SADL version

validate <Scenario> not blank skip
validate <CompType> not blank skip
validate <CompInstance> not blank skip
validate <hasSensitiveInfo> not blank skip
validate <insideTrustedBoundary> not blank skip
validate <broadcastFromOutsideTB> not blank skip
validate <wifiFromOutsideTB> not blank skip
validate <heterogeneity> not blank skip
validate <encryption> not blank skip
validate <antiJamming> not blank skip
validate <antiFlooding> not blank skip
validate <antiFuzzing> not blank skip

transform <hasSensitiveInfo> to <val1> replace "1" : true,"0" : false
transform <insideTrustedBoundary> to <val2> replace "1" : true,"0" : false
transform <broadcastFromOutsideTB> to <val3> replace "1" : true,"0" : false
transform <wifiFromOutsideTB> to <val4> replace "1" : true,"0" : false
transform <heterogeneity> to <val5A[]> split "#"
transform <val5A[1]> to <val5> replace "1" : true,"0" : false
transform <encryption> to <val6A[]> split "#"
transform <val6A[1]> to <val6> replace "1" : true,"0" : false
transform <antiJamming> to <val7A[]> split "#"
transform <val7A[1]> to <val7> replace "1" : true,"0" : false
transform <antiFlooding> to <val8A[]> split "#"
transform <val8A[1]> to <val8> replace "1" : true,"0" : false
transform <antiFuzzing> to <val9A[]> split "#"
transform <val9A[1]> to <val9> replace "1" : true,"0" : false

<CompInstance> hasSensitiveInfo <val1> 
<CompInstance> insideTrustedBoundary <val2> 
<CompInstance> broadcastFromOutsideTB <val3>
<CompInstance> wifiFromOutsideTB <val4> 
//<CompInstance> heterogeneity <val5>
//<CompInstance> encryption <val6>
<1> rdf:type ImplProperty
<1> name "heterogeneity"
<1> val <val5>
<1> dal <val5A[2]>
<CompInstance> heterogeneity <1>

<2> rdf:type ImplProperty
<2> name "encrypted"
<2> val <val6>
<2> dal <val6A[2]>
<CompInstance> encryption <2>

<3> rdf:type ImplProperty
<3> name "antiJamming"
<3> val <val7>
<3> dal <val7A[2]>
<CompInstance> antiJamming <3>

<4> rdf:type ImplProperty
<4> name "antiFlooding"
<4> val <val8>
<4> dal <val8A[2]>
<CompInstance> antiFlooding <4>

<5> rdf:type ImplProperty
<5> name "antiFuzzing"
<5> val <val9>
<5> dal <val9A[2]>
<CompInstance> antiFuzzing <5>
