<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="com.ge.research.osate.verdict.targetplatform" sequenceNumber="1">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.ease.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.ease.feature.source.feature.group" version="0.0.0"/>
            <repository location="http://download.eclipse.org/ease/update/release"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.elk.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.elk.feature.source.feature.group" version="0.0.0"/>
            <repository location="http://download.eclipse.org/elk/updates/releases/0.5.0"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
            <repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.20.0"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.emf.mwe2.launcher.source.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
            <repository location="http://download.eclipse.org/releases/2019-12"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.apache.commons.math3" version="0.0.0"/>
            <unit id="org.apache.commons.math3.source" version="0.0.0"/>
            <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20191126223242/repository"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="de.itemis.xtext.antlr.sdk.feature.group" version="0.0.0"/>
            <repository location="http://download.itemis.com/updates/releases/2.1.1"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.osate.core.feature.feature.group" version="0.0.0"/>
            <unit id="org.osate.core.feature.source.feature.group" version="0.0.0"/>
            <unit id="org.osate.ge.feature.feature.group" version="0.0.0"/>
            <unit id="org.osate.ge.feature.source.feature.group" version="0.0.0"/>
            <unit id="org.osate.plugins.feature.feature.group" version="0.0.0"/>
            <unit id="org.osate.plugins.feature.source.feature.group" version="0.0.0"/>
            <repository location="http://osate-build.sei.cmu.edu/download/osate/stable/2.7.1/updates"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="com.rockwellcollins.atc.agree.feature.feature.group" version="0.0.0"/>
            <unit id="com.rockwellcollins.atc.tcg.feature.feature.group" version="0.0.0"/>
            <unit id="edu.uah.rsesc.aadlsimulator.agree.feature.feature.group" version="0.0.0"/>
            <unit id="edu.uah.rsesc.aadlsimulator.feature.feature.group" version="0.0.0"/>
            <repository location="https://raw.githubusercontent.com/loonwerks/AGREE-Updates/master/agree_2.5.2"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.yakindu.base.xtext.utils.jface" version="0.0.0"/>
            <repository location="http://updates.yakindu.com/statecharts/releases/3.5.9"/>
        </location>
    </locations>
</target>
