name: VERDICT Release Workflow

# Runs whenever a release is published on GitHub

on:
  release:
    types: [ published ]

# Runs a build job and uploads VERDICT build artifacts:
# - Builds kind2 and soteria_pp native binaries
# - Builds VERDICT source & runs unit tests
# - Uploads extern.zip and README.md to release assets
# - Pushes verdict image to Docker Hub
# - Updates verdict-latest update site

jobs:
  native-binaries:
    strategy:
      matrix:
        ocaml-compiler: [ 4.07.1 ]
        os: [ macos-10.15, ubuntu-20.04 ]
        include:
          - os: macos-10.15
            zmq_install: brew install zmq
          - os: ubuntu-20.04
            zmq_install: sudo apt-get install -y libzmq3-dev

    runs-on: ${{ matrix.os }}

    steps:
    - name: Set up zmq library
      run: ${{ matrix.zmq_install }}

    - name: Set up OCaml
      uses: avsm/setup-ocaml@v2.0.0-beta3
      with:
        ocaml-compiler: ${{ matrix.ocaml-compiler }}

    - name: Install OCaml packages
      run: |
        opam install --yes \
          async \
          core \
          core_extended \
          dune \
          dune-build-info \
          menhir \
          ocamlbuild \
          ocamlfind \
          printbox \
          xml-light \
          yojson \
          zmq

    - name: Check out VERDICT source
      uses: actions/checkout@v2.3.4

    - name: Check out kind2 source
      if: matrix.os == 'macos-10.15'
      uses: actions/checkout@v2.3.4
      with:
        repository: kind2-mc/kind2
        path: tools/verdict-back-ends/kind2

    - name: Build kind2
      if: matrix.os == 'macos-10.15'
      run: |
        cd tools/verdict-back-ends/kind2
        opam exec make

    - name: Build soteria_pp
      run: |
        cd tools/verdict-back-ends/soteria_pp
        opam exec make

    - name: Upload kind2 macOS binary
      if: matrix.os == 'macos-10.15'
      uses: actions/upload-artifact@v2.2.4
      with:
        name: ${{ matrix.os }}-binaries
        path: tools/verdict-back-ends/kind2/bin/kind2

    - name: Extract kind 2 binary
      if: matrix.os == 'ubuntu-20.04'
      id: extract
      uses: shrink/actions-docker-extract@v1
      with:
        image: kind2/kind2:dev
        path: /kind2

    - name: Upload kind2 linux binary
      if: matrix.os == 'ubuntu-20.04'
      uses: actions/upload-artifact@v2.2.4
      with:
        name: ${{ matrix.os }}-binaries
        path: ${{ steps.extract.outputs.destination }}

    - name: Upload soteria_pp
      uses: actions/upload-artifact@v2.2.4
      with:
        name: ${{ matrix.os }}-binaries
        path: tools/verdict-back-ends/soteria_pp/bin/soteria_pp

  release:
    strategy:
      matrix:
        distribution: [ temurin ]
        java-version: [ 11 ]
        os: [ ubuntu-20.04 ]

    needs: native-binaries
    runs-on: ${{ matrix.os }}

    steps:
    - name: Set up GraphViz
      uses: ts-graphviz/setup-graphviz@v1

    - name: Set up Java
      uses: actions/setup-java@v2.2.0
      with:
        distribution: ${{ matrix.distribution }}
        java-version: ${{ matrix.java-version }}

    - name: Set up Maven cache
      uses: actions/cache@v2.1.6
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-maven-

    - name: Check out VERDICT source
      uses: actions/checkout@v2.3.4

    - name: Build VERDICT source
      run: |
        mvn -B install --file tools/verdict-back-ends/verdict-bundle/z3-native-libs/pom.xml
        mvn -B package -Dtycho.localArtifacts=ignore --file tools/pom.xml
      env:
        GraphVizPath: /usr/bin

    - name: Download macOS binaries
      uses: actions/download-artifact@v2.0.10
      with:
        name: macos-10.15-binaries
        path: extern/mac

    - name: Download Linux binaries
      uses: actions/download-artifact@v2.0.10
      with:
        name: ubuntu-20.04-binaries
        path: extern/nix

    - name: Assemble extern folder
      run: |
        mv tools/verdict-back-ends/STEM extern
        mkdir extern/examples
        mv models/DeliveryDrone extern/examples
        mv models/DeliveryDrone_CASE_v* extern/examples
        chmod a+x extern/{mac,nix}/{kind2,soteria_pp}
        cp -a tools/verdict-back-ends/verdict-bundle/verdict-bundle-app/target/verdict-bundle-app-*-capsule.jar extern
        zip -r extern.zip extern
        mkdir tools/verdict-back-ends/{soteria_pp}/bin
        cp -a extern/nix/soteria_pp tools/verdict-back-ends/soteria_pp/bin

    - name: Upload extern.zip and README.md to GitHub release assets
      uses: softprops/action-gh-release@v0.1.12
      with:
        files: |
          extern.zip
          docs/README.md

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1.5.1

    - name: Login to Docker Hub
      uses: docker/login-action@v1.10.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push verdict image
      uses: docker/build-push-action@v2.6.1
      with:
        context: tools/verdict-back-ends
        file: tools/verdict-back-ends/Dockerfile
        push: true
        cache-from: type=registry,ref=gehighassurance/verdict-dev:latest
        cache-to: type=inline
        tags: |
          gehighassurance/verdict:latest
          gehighassurance/verdict:${{ github.event.release.tag_name }}

    - name: Check out VERDICT-update-sites
      uses: actions/checkout@v2.3.4
      with:
        repository: ge-high-assurance/VERDICT-update-sites
        token: ${{ secrets.CI_PAT }}
        path: VERDICT-update-sites

    - name: Update verdict-latest in VERDICT-update-sites
      run: |
        RELEASE="${{ github.event.release.tag_name }}"
        cd VERDICT-update-sites
        rm -rf verdict-latest verdict-$RELEASE
        mv ../tools/verdict/com.ge.research.osate.verdict.updatesite/target/repository verdict-latest
        cp -a verdict-latest verdict-$RELEASE
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add .
        git commit -m "Update verdict-latest and verdict-$RELEASE in VERDICT-update-sites"
        git push
